.first-div{
    height: 50px;
    padding-bottom: 10px;
}
.first{
    width: 250px;
    height: 50px;
    background-color:#8c33bc;
    color: white;
    border-radius: 3%;
    transition: 0.5s;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.first:hover{
   transition: 0.5s;
    margin-top: 10px;   
    box-shadow: 0px 20px 0 -7px rgba(0, 0, 0, 0.5);
}

.second{
   
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-top: 50px;
    width: 200px;
    flex-basis: 60px;
}
.second:hover{
    background-color: lightgreen;
}
.third-button-div{
    width: 204px;
    flex-basis: 64px;
    padding: 2px;
margin-top: 30px;

}
.third{
    width: 200px;
    height: 60px;
    color: white;
    border-radius: 30px;
    font-size: large;
    background-color: purple;
}
.third:hover{
    transition: 0.5s;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    color: purple;
}
.clock{
    background-image:url(clock.jpg);
    width: 300px;
    flex-basis: 300px;
    background-size: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.clock-arrow{
    background-color: black;
    width:3px;
    margin-bottom: 98px;
    animation: clock-anim 60s infinite linear;

    border-radius: 10px 10px 0 0;
    
    height: 90px;
    transform-origin: bottom left;
}

@keyframes clock-anim {
    100%{
        transform-origin: bottom left right;
        transform: rotate(360deg);
      
    }
}
.text-hover-div{
width: 200px;
flex-basis: 100px;
display: flex;
justify-content: center;
flex-direction: column;

}
.text-hover{
width:200px;
height: 60px;
border-radius: 1em;
background-color: #8c33bc;
color: white;
}
.text-hover + p{
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}
.text-hover:hover + p{
    opacity: 1;
}

.gysto-div{
flex-basis:300px;
display: flex;
width: 420px;
align-items: flex-end;
}
.gysto-a{
    width: 60px;
    height: 60px;
    background-color: wheat;
    transition: 0.5s;
}
.gysto-a:hover{
    height: 300px;
    border-top-left-radius:1em ;
    border-top-right-radius:1em ;

}


    

body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   position: absolute;
   padding-bottom: 300px;

}